In [18]:
#get the libraries for project: requests, np, pd ...

In [19]:
#Get the contract list (ALL THE CITIES WITH BIKES)

#Request:
#GET https://api.jcdecaux.com/vls/v1/contracts HTTP/1.1
#Accept: application/json

#Response:
#HTTP/1.1 200 OK
#Content-Type: application/json

#[contract_json,contract_json,...]

In [20]:
#Get the stations of a contract (ALL STATIONS FOR DUBLIN)

#Request:
#GET https://api.jcdecaux.com/vls/v1/stations?contract={contract_name} HTTP/1.1
#Accept: application/json

In [22]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
import json
import requests

url = 'http://api.citybik.es/dublinbikes.json'
json_data = requests.get(url).text

print (json_data[:500])

[
  {
    "bikes": 33,
    "name": "FENIAN STREET",
    "idx": 0,
    "lat": 53341428,
    "timestamp": "2016-03-04T12:21:51.554Z",
    "lng": -6246720,
    "id": 0,
    "free": 2,
    "number": 63
  },
  {
    "bikes": 19,
    "name": "CITY QUAY",
    "idx": 1,
    "lat": 53346637,
    "timestamp": "2016-03-04T12:21:51.589Z",
    "lng": -6246154,
    "id": 1,
    "free": 11,
    "number": 99
  },
  {
    "bikes": 9,
    "name": "FITZWILLIAM SQUARE EAST",
    "idx": 2,
    "

In [24]:
#Parse results based on "bikes" as index 0
json_series = Series(json_data)

print (json_series)

0    [\n  {\n    "bikes": 33, \n    "name": "FENIAN...
dtype: object

In [27]:
#Other attempt with clipboard (all json data 12.27pm 03/04/16)
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import webbrowser
website = 'http://api.citybik.es/dublinbikes.json'
#webbrowser.open(website)

bike_frame = pd.read_clipboard()
print(bike_frame[:500])

                                    {
bikes:                            34,
name:                  FENIAN STREET,
idx:                               0,
lat:                        53341428,
timestamp:  2016-03-04T12:25:01.934Z,
lng:                        -6246720,
id:                                0,
free:                              1,
number:                            63
},                                NaN
{                                 NaN
bikes:                            19,
name:                      CITY QUAY,
idx:                               1,
lat:                        53346637,
timestamp:  2016-03-04T12:25:02.198Z,
lng:                        -6246154,
id:                                1,
free:                             11,
number:                            99
},                                NaN
{                                 NaN
bikes:                             9,
name:        FITZWILLIAM SQUARE EAST,
idx:                               2,
lat:                        53335211,
timestamp:  2016-03-04T12:25:02.688Z,
lng:                        -6250900,
id:                                2,
free:                             31,
...                               ...
number:                            37
},                                NaN
{                                 NaN
bikes:                            23,
name:                  PEARSE STREET,
idx:                              43,
lat:                        53344304,
timestamp:  2016-03-04T12:25:01.658Z,
lng:                        -6250427,
id:                               43,
free:                              7,
number:                            32
},                                NaN
{                                 NaN
bikes:                            25,
name:                    EXCISE WALK,
idx:                              44,
lat:                        53347777,
timestamp:  2016-03-04T12:25:01.668Z,
lng:                        -6244239,
id:                               44,
free:                             15,
number:                            48
},                                NaN
{                                 NaN
bikes:                            28,
name:                  TALBOT STREET,
idx:                              45,
lat:                        53350974,
timestamp:  2016-03-04T12:25:02.358Z,

[500 rows x 1 columns]

In [28]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import webbrowser
website = 'http://api.citybik.es/dublinbikes.json'
#webbrowser.open(website)

bike_frame = pd.read_json(website)
print(bike_frame[:500])

     bikes  free   id  idx       lat      lng  \
0       34     1    0    0  53341428 -6246720
1       17    13    1    1  53346637 -6246154
2        8    32    2    2  53335211 -6250900
3        4    26    3    3  53339005 -6300217
4       12    28    4    4  53340714 -6308191
5        1    34    5    5  53338776 -6303950
6        7    23    6    6  53350291 -6273507
7        9    11    7    7  53346874 -6272976
8       17    23    8    8  53354929 -6269425
9        2    38    9    9  53330662 -6260177
10       0    38   10   10  53347972 -6291804
11       0    29   11   11  53343565 -6275071
12       0    25   12   12  53347106 -6292041
13       0    30   13   13  53330362 -6265163
14      18     9   14   14  53358115 -6265601
15      20    10   15   15  53339434 -6246548
16       5    25   16   16  53347692 -6278214
17       3    27   17   17  53330091 -6268044
18      11    19   18   18  53347884 -6248048
19      14     6   19   19  53339764 -6251988
20      15    10   20   20  53357043 -6263232
21      29    11   21   21  53337824 -6256035
22       7    13   22   22  53341288 -6258117
23       1    29   23   23  53358437 -6260641
24       0    30   24   24  53356299 -6258586
25      25    15   25   25  53346026 -6243576
26      24     0   26   26  53343034 -6263578
27       9    20   27   27  53346057 -6268001
28       0    40   28   28  53347122 -6234749
29      14     2   29   29  53344007 -6266802
..     ...   ...  ...  ...       ...      ...
71       0    40   71   71  53347440 -6238523
72      22     0   72   72  53349013 -6260311
73       4    25   73   73  53348875 -6267459
74       0    30   74   74  53343893 -6280531
75      40     0   75   75  53341655 -6236198
76      13    17   76   76  53334432 -6245575
77      36     4   77   77  53342638 -6238695
78       1    19   78   78  53355610 -6261397
79       0    30   79   79  53342081 -6275233
80       2    28   80   80  53359624 -6260348
81       4    36   81   81  53346867 -6230852
82      16    14   82   82  53341805 -6305085
83       7    13   83   83  53356769 -6268140
84      11    29   84   84  53343897 -6297060
85       3    35   85   85  53347477 -6285250
86       1    29   86   86  53348800 -6281637
87       7    33   87   87  53342113 -6310015
88      18    22   88   88  53346985 -6297804
89      25    15   89   89  53344153 -6233451
90      21    19   90   90  53341515 -6256853
91      29     1   91   91  53341833 -6231291
92      24    16   92   92  53339983 -6295594
93       6    34   93   93  53347802 -6292432
94       0    22   94   94  53341645 -6297190
95       5    24   95   95  53340962 -6262287
96       0    30   96   96  53334123 -6265436
97      20     3   97   97  53339629 -6243778
98       2    14   98   98  53355473 -6264423
99       5    31   99   99  53334030 -6260714
100      0    20  100  100  53340803 -6267732

                                  name  number               timestamp
0                        FENIAN STREET      63 2016-03-04 12:31:00.674
1                            CITY QUAY      99 2016-03-04 12:31:00.733
2              FITZWILLIAM SQUARE EAST      89 2016-03-04 12:31:00.906
3                      BROOKFIELD ROAD      84 2016-03-04 12:31:00.628
4                           EMMET ROAD      83 2016-03-04 12:31:00.921
5                          ROTHE ABBEY      85 2016-03-04 12:31:00.892
6                    KING STREET NORTH     101 2016-03-04 12:31:00.721
7                         GREEK STREET       4 2016-03-04 12:31:00.768
8                          WESTERN WAY     102 2016-03-04 12:31:00.718
9                     CHARLEMONT PLACE       5 2016-03-04 12:31:00.754
10                     PARKGATE STREET      86 2016-03-04 12:31:00.883
11                         HIGH STREET       7 2016-03-04 12:31:00.770
12              HEUSTON BRIDGE (SOUTH)     100 2016-03-04 12:31:00.885
13                  PORTOBELLO HARBOUR      34 2016-03-04 12:31:00.807
14                  ECCLES STREET EAST      79 2016-03-04 12:31:00.823
15                 MERRION SQUARE EAST      25 2016-03-04 12:31:00.828
16                          SMITHFIELD      35 2016-03-04 12:31:00.851
17                     PORTOBELLO ROAD      43 2016-03-04 12:31:00.643
18                   CUSTOM HOUSE QUAY       8 2016-03-04 12:31:00.813
19                 MERRION SQUARE WEST      26 2016-03-04 12:31:00.845
20                     HARDWICKE PLACE      61 2016-03-04 12:31:00.759
21            ST. STEPHEN'S GREEN EAST      36 2016-03-04 12:31:00.838
22                   MOLESWORTH STREET      27 2016-03-04 12:31:00.816
23               UPPER SHERRARD STREET      44 2016-03-04 12:31:00.900
24                MOUNTJOY SQUARE WEST      28 2016-03-04 12:31:00.875
25                         LIME STREET      62 2016-03-04 12:31:00.709
26                    EXCHEQUER STREET       9 2016-03-04 12:31:00.735
27                   ORMOND QUAY UPPER      29 2016-03-04 12:31:00.920
28                    NEW CENTRAL BANK      66 2016-03-04 12:31:00.782
29                         DAME STREET      10 2016-03-04 12:31:00.854
..                                 ...     ...                     ...
71                   CONVENTION CENTRE      65 2016-03-04 12:31:00.847
72   PRINCES STREET / O'CONNELL STREET      33 2016-03-04 12:31:00.860
73                   WOLFE TONE STREET      77 2016-03-04 12:31:00.764
74                  OLIVER BOND STREET      74 2016-03-04 12:31:00.623
75                       BARROW STREET      70 2016-03-04 12:31:00.872
76                       HERBERT PLACE      19 2016-03-04 12:31:00.717
77                    GRAND CANAL DOCK      69 2016-03-04 12:31:00.825
78                DENMARK STREET GREAT      59 2016-03-04 12:31:00.834
79                      FRANCIS STREET      73 2016-03-04 12:31:00.766
80                 NORTH CIRCULAR ROAD      60 2016-03-04 12:31:00.772
81                           THE POINT      67 2016-03-04 12:31:00.701
82                     KILMAINHAM LANE      96 2016-03-04 12:31:00.817
83                  BLESSINGTON STREET       2 2016-03-04 12:31:00.843
84                      ROYAL HOSPITAL      95 2016-03-04 12:31:00.789
85             COLLINS BARRACKS MUSEUM      87 2016-03-04 12:31:00.625
86                     BLACKHALL PLACE      88 2016-03-04 12:31:00.926
87                     KILMAINHAM GAOL      97 2016-03-04 12:31:00.712
88          HEUSTON STATION (CAR PARK)      94 2016-03-04 12:31:00.836
89                       BENSON STREET      90 2016-03-04 12:31:00.658
90              FREDERICK STREET SOUTH      98 2016-03-04 12:31:00.646
91                     SOUTH DOCK ROAD      91 2016-03-04 12:31:00.684
92        ST. JAMES HOSPITAL (CENTRAL)      81 2016-03-04 12:31:00.618
93              HEUSTON BRIDGE (NORTH)      92 2016-03-04 12:31:00.922
94                         MOUNT BROWN      82 2016-03-04 12:31:00.787
95                      CHATHAM STREET       1 2016-03-04 12:31:00.652
96                     GRANTHAM STREET      18 2016-03-04 12:31:00.638
97                      GRATTAN STREET      57 2016-03-04 12:31:00.863
98                    HARDWICKE STREET      15 2016-03-04 12:31:00.849
99                        HATCH STREET      55 2016-03-04 12:31:00.742
100                        GOLDEN LANE      17 2016-03-04 12:31:00.728

[101 rows x 9 columns]

In [29]:
#Create the Data Frame
pd.concat([bike_frame])

,bikes,free,id,idx,lat,lng,name,number,timestamp
0,34,1,0,0,53341428,-6246720,FENIAN STREET,63,2016-03-04 12:31:00.674
1,17,13,1,1,53346637,-6246154,CITY QUAY,99,2016-03-04 12:31:00.733
2,8,32,2,2,53335211,-6250900,FITZWILLIAM SQUARE EAST,89,2016-03-04 12:31:00.906
3,4,26,3,3,53339005,-6300217,BROOKFIELD ROAD,84,2016-03-04 12:31:00.628
4,12,28,4,4,53340714,-6308191,EMMET ROAD,83,2016-03-04 12:31:00.921
5,1,34,5,5,53338776,-6303950,ROTHE ABBEY,85,2016-03-04 12:31:00.892
6,7,23,6,6,53350291,-6273507,KING STREET NORTH,101,2016-03-04 12:31:00.721
7,9,11,7,7,53346874,-6272976,GREEK STREET,4,2016-03-04 12:31:00.768
8,17,23,8,8,53354929,-6269425,WESTERN WAY,102,2016-03-04 12:31:00.718
9,2,38,9,9,53330662,-6260177,CHARLEMONT PLACE,5,2016-03-04 12:31:00.754
10,0,38,10,10,53347972,-6291804,PARKGATE STREET,86,2016-03-04 12:31:00.883
11,0,29,11,11,53343565,-6275071,HIGH STREET,7,2016-03-04 12:31:00.770
12,0,25,12,12,53347106,-6292041,HEUSTON BRIDGE (SOUTH),100,2016-03-04 12:31:00.885
13,0,30,13,13,53330362,-6265163,PORTOBELLO HARBOUR,34,2016-03-04 12:31:00.807
14,18,9,14,14,53358115,-6265601,ECCLES STREET EAST,79,2016-03-04 12:31:00.823
15,20,10,15,15,53339434,-6246548,MERRION SQUARE EAST,25,2016-03-04 12:31:00.828
16,5,25,16,16,53347692,-6278214,SMITHFIELD,35,2016-03-04 12:31:00.851
17,3,27,17,17,53330091,-6268044,PORTOBELLO ROAD,43,2016-03-04 12:31:00.643
18,11,19,18,18,53347884,-6248048,CUSTOM HOUSE QUAY,8,2016-03-04 12:31:00.813
19,14,6,19,19,53339764,-6251988,MERRION SQUARE WEST,26,2016-03-04 12:31:00.845
20,15,10,20,20,53357043,-6263232,HARDWICKE PLACE,61,2016-03-04 12:31:00.759
21,29,11,21,21,53337824,-6256035,ST. STEPHEN'S GREEN EAST,36,2016-03-04 12:31:00.838
22,7,13,22,22,53341288,-6258117,MOLESWORTH STREET,27,2016-03-04 12:31:00.816
23,1,29,23,23,53358437,-6260641,UPPER SHERRARD STREET,44,2016-03-04 12:31:00.900
24,0,30,24,24,53356299,-6258586,MOUNTJOY SQUARE WEST,28,2016-03-04 12:31:00.875
25,25,15,25,25,53346026,-6243576,LIME STREET,62,2016-03-04 12:31:00.709
26,24,0,26,26,53343034,-6263578,EXCHEQUER STREET,9,2016-03-04 12:31:00.735
27,9,20,27,27,53346057,-6268001,ORMOND QUAY UPPER,29,2016-03-04 12:31:00.920
28,0,40,28,28,53347122,-6234749,NEW CENTRAL BANK,66,2016-03-04 12:31:00.782
29,14,2,29,29,53344007,-6266802,DAME STREET,10,2016-03-04 12:31:00.854
...,...,...,...,...,...,...,...,...,...
71,0,40,71,71,53347440,-6238523,CONVENTION CENTRE,65,2016-03-04 12:31:00.847
72,22,0,72,72,53349013,-6260311,PRINCES STREET / O'CONNELL STREET,33,2016-03-04 12:31:00.860
73,4,25,73,73,53348875,-6267459,WOLFE TONE STREET,77,2016-03-04 12:31:00.764
74,0,30,74,74,53343893,-6280531,OLIVER BOND STREET,74,2016-03-04 12:31:00.623
75,40,0,75,75,53341655,-6236198,BARROW STREET,70,2016-03-04 12:31:00.872
76,13,17,76,76,53334432,-6245575,HERBERT PLACE,19,2016-03-04 12:31:00.717
77,36,4,77,77,53342638,-6238695,GRAND CANAL DOCK,69,2016-03-04 12:31:00.825
78,1,19,78,78,53355610,-6261397,DENMARK STREET GREAT,59,2016-03-04 12:31:00.834
79,0,30,79,79,53342081,-6275233,FRANCIS STREET,73,2016-03-04 12:31:00.766
80,2,28,80,80,53359624,-6260348,NORTH CIRCULAR ROAD,60,2016-03-04 12:31:00.772
81,4,36,81,81,53346867,-6230852,THE POINT,67,2016-03-04 12:31:00.701
82,16,14,82,82,53341805,-6305085,KILMAINHAM LANE,96,2016-03-04 12:31:00.817
83,7,13,83,83,53356769,-6268140,BLESSINGTON STREET,2,2016-03-04 12:31:00.843
84,11,29,84,84,53343897,-6297060,ROYAL HOSPITAL,95,2016-03-04 12:31:00.789
85,3,35,85,85,53347477,-6285250,COLLINS BARRACKS MUSEUM,87,2016-03-04 12:31:00.625
86,1,29,86,86,53348800,-6281637,BLACKHALL PLACE,88,2016-03-04 12:31:00.926
87,7,33,87,87,53342113,-6310015,KILMAINHAM GAOL,97,2016-03-04 12:31:00.712
88,18,22,88,88,53346985,-6297804,HEUSTON STATION (CAR PARK),94,2016-03-04 12:31:00.836
89,25,15,89,89,53344153,-6233451,BENSON STREET,90,2016-03-04 12:31:00.658
90,21,19,90,90,53341515,-6256853,FREDERICK STREET SOUTH,98,2016-03-04 12:31:00.646
91,29,1,91,91,53341833,-6231291,SOUTH DOCK ROAD,91,2016-03-04 12:31:00.684
92,24,16,92,92,53339983,-6295594,ST. JAMES HOSPITAL (CENTRAL),81,2016-03-04 12:31:00.618
93,6,34,93,93,53347802,-6292432,HEUSTON BRIDGE (NORTH),92,2016-03-04 12:31:00.922
94,0,22,94,94,53341645,-6297190,MOUNT BROWN,82,2016-03-04 12:31:00.787
95,5,24,95,95,53340962,-6262287,CHATHAM STREET,1,2016-03-04 12:31:00.652
96,0,30,96,96,53334123,-6265436,GRANTHAM STREET,18,2016-03-04 12:31:00.638
97,20,3,97,97,53339629,-6243778,GRATTAN STREET,57,2016-03-04 12:31:00.863
98,2,14,98,98,53355473,-6264423,HARDWICKE STREET,15,2016-03-04 12:31:00.849
99,5,31,99,99,53334030,-6260714,HATCH STREET,55,2016-03-04 12:31:00.742
100,0,20,100,100,53340803,-6267732,GOLDEN LANE,17,2016-03-04 12:31:00.728

In [39]:
import csv

with open('output.csv', 'w') as file:
    file.write(json_data)
    
with open('output.json', 'w') as jfile:
    jfile.write(json_data)

In [35]:
print (output.csv[:200])

NameError: name 'output' is not defined

NameError: name 'cat' is not defined